# Flutter
.build/
.dart_tool/
.packages
.pub/
pubspec.lock

# Android / iOS
android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Model / large files
*.gguf
*.bin
*.pt

# VSCode
.vscode/

# OS
.DS_Store